.erialad-bg{
    background-image: url('/src/assets/erialad/mobileerialadBackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@media (min-width: 1024px) {
    .erialad-bg {
        background-image: url('/src/assets/erialad/erialadBackground.png');
    }
}