.avaleht-bg{
    background-image: url('/src/assets/avaleht/avaleheBackground1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.example{
    background-image: url('/src/assets/avaleht/example1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}