.button-hover{
    transition: 200ms;
}
.button-hover:hover{
    transform: translate(0px, -2px);
    box-shadow: 0px 2px 0px #1ba8d3
}
.button-hover:active{
    transform: translate(0px, -1px);
    box-shadow: 0px 1px 0px #1ba8d3
}